.helm-icon {
    background-image: url("data:image/svg+xml;utf8,404: Not Found");
}

.amulet-icon {
    background-image: url("data:image/svg+xml;utf8,404: Not Found");
}

.weapon1-icon,
.weapon2-icon {
    background-image: url("data:image/svg+xml;utf8,404: Not Found");
}

.body-icon {
    background-image: url("data:image/svg+xml;utf8,404: Not Found");
}

.gloves-icon {
    background-image: url("data:image/svg+xml;utf8,404: Not Found");
}

.belt-icon {
    background-image: url("data:image/svg+xml;utf8,404: Not Found");
}

.boots-icon {
    background-image: url("data:image/svg+xml;utf8,404: Not Found");
}

.ring-icon {
    background-image: url("data:image/svg+xml;utf8,404: Not Found");
}

